body {
  margin: 0;
  background: #2F82F0;
  font-family: 'Dylanfont';
  background-image: url(../IMAGES/Dylano_Italiano\ image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.header {
   background:linear-gradient(
  45deg, #197dff81, #083878dd
  );
  border-radius: 100px;
  width: 95%;
  height: 84px;
}

 @font-face {
    font-family: 'Dylanfont';
    src: url(../FONTS/ModernTokyoPersonalUse-nAjmV.ttf);
  }

nav {
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;

}

.nav-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  background: white;
  color: #1766CE;
  text-decoration: none;
  border-radius: 100px;
  font-size: 20px;
   font-style: italic;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #1766CE;
}

.nav-button:hover {
  background: #dcdcdc;
}

.right-buttons{
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.hero{
  text-align: center;
  justify-content: center;
  font-style: italic;
  margin-top: 90px;
}

.welkom-text {
  color: #1766CE;
  font-size: 30px;
   text-shadow: 2px 3px 4px #0c4795;
   -webkit-text-stroke: 0.5px #1350a1;
}

.title-text {
  color: white;
  font-size: 40px;
  text-shadow: 3px 5px 5px #0e56b4;
  -webkit-text-stroke: 1px #1766CE;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 180px;
}

.contact-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  background: white;
  color: #1766CE;
  text-decoration: none;
  border-radius: 100px;
  font-size: 20px;
  border: 2px solid #1766CE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-button:hover {
  background: #dcdcdc;
}

.about-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 60px;
  background:linear-gradient(
  45deg, #1766CE, #093267
  );
  color: #ffffff;
  text-decoration: none;
  border-radius: 100px;
  font-size: 20px;
  border: 2px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
