body {
  margin: 0;
  font-family: 'Dylanfont';
}

.background-image {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: url("../IMAGES/imageT.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   background-attachment: fixed;
  filter: blur(4px) grayscale(0.1) brightness(0.7);
}


header {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.header {
   background:linear-gradient(
  45deg, #197dff81, #083878dd
  );
  border-radius: 100px;
  width: 95%;
   min-height: 84px;
    border: 1px solid rgba(255,255,255,.2);
}

 @font-face {
    font-family: 'Dylanfont';
    src: url(../FONTS/ModernTokyoPersonalUse-nAjmV.ttf);
  }

nav {
  width: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 15px 20px;
}

.nav-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  background: white;
  color: #1766CE;
  text-decoration: none;
  border-radius: 100px;
  font-size: 20px;
   font-style: italic;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #1766CE;
    transition:0.2s;
}

.nav-button:hover {
  transform:scale(1.05);
   background:linear-gradient(
  45deg, #1766ce37, #09326736
  );
  color: #ffffff;
  border: 2px solid #ffffff;

}

.right-buttons {
  margin-left: auto;
  display: flex;
  gap: 15px;
}


.hero{
  text-align: center;
  justify-content: center;
  font-style: italic;
  margin-top: 90px;
}

.welkom-text {
  color: #1766CE;
  font-size: 30px;
   text-shadow: 2px 3px 4px #0c4795;
   -webkit-text-stroke: 0.5px #1350a1;
}

.title-text {
  color: white;
  font-size: 40px;
  text-shadow: 3px 5px 5px #0e56b4;
  -webkit-text-stroke: 1px #1766CE;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 180px;
}

.contact-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  background: white;
  color: #1766CE;
  text-decoration: none;
  border-radius: 100px;
  font-size: 20px;
  border: 2px solid #1766CE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition:0.2s;
}

.contact-button:hover {
   transform:scale(1.05);
   background:linear-gradient(
  45deg, #1766ce65, #09326765
  );
  color: #ffffff;
  border: 2px solid #ffffff;
}

.about-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 60px;
  background:linear-gradient(
  45deg, #1766CE, #093267
  );
  color: #ffffff;
  text-decoration: none;
  border-radius: 100px;
  font-size: 20px;
  border: 2px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition:0.2s;
}

.about-button:hover {
   transform:scale(1.05);
  background:linear-gradient(
  45deg, #1766ce65, #09326765
  );
}

/* .top-hr {
  position: relative;
  top: 350px;
} */

.content {
  background: linear-gradient(
    45deg,
    #197dff81,
    #083878dd
  );
  width: 95%;
  min-height: 800px;
  border-radius: 20px;
  margin: 380px auto 0;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255,255,255,.2);
}

.content-text {
  color: white;
  text-align: center;
  text-shadow: 2px 3px 4px #0a3b7b;
  -webkit-text-stroke: 1px #1350a1;
  margin-bottom: 40px;
    background: linear-gradient(
    45deg,
    #197dff81,
    #083878dd
  );
  width: 95%;
  border-radius: 20px;
  margin: 500px auto 0;
  margin-bottom: -350px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
   border: 1px solid rgba(255,255,255,.2);
}

.content-text h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.content-text p {
  font-size: 25px;
  line-height: 1.6;
}

.content-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 50px;
}

.card {
  background: white;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
  transition: transform 0.3s ease;
}

.card:hover {
   transform:scale(1.05);
}

#card1 {
  background-image: url("../Images/IMG_2866-1.jpg");
}
#card2 {
  background-image: url("../Images/IMG_1774.jpg");
}
#card3 {
  background-image: url("../Images/IMG_1434.jpg");
}
#card4 {
  background-image: url("../Images/IMG_8262.jpg");
}
#card5 {
  background-image: url("../Images/IMG_8334.jpg");
}
#card6 {
  background-image: url("../Images/IMG_20260105_172938-1.jpg");
}
#card7 {
  background-image: url("../Images/IMG_7386.jpg");
}
#card8 {
  background-image: url("../Images/IMG_7308.png");
}
#card9 {
  background-image: url("../Images/IMG_2196.png");
}
#card10 {
  background-image: url("../Images/IMG_7550.jpg");
}
#card11 {
  background-image: url("../Images/Dylan_finger.jpg");
}
#card12 {
  background-image: url("../Images/IMG_6239.jpg");
}
#card13 {
  background-image: url("../Images/IMG_7966.jpg");
}
#card14 {
  background-image: url("../Images/IMG_2395.jpg");
}
#card15 {
  background-image: url("../Images/IMG_3090-1.jpg");
}
#card16 {
  background-image: url("../Images/Screenshot_2025-12-12_at_11.43.56_AM.png");
}
#card17 {
  background-image: url("../Images/IMG_2197.png");
}
#card18 {
  background-image: url("../Images/IMG_2593-1.jpg");
}
#card19 {
  background-image: url("../Images/20251017_133212.jpg");
}
#card20 {
  background-image: url("../Images/IMG_3096-1.jpg");
}

.wanted {
   background: linear-gradient(
    45deg,
    #197dff81,
    #083878dd
  );
  width: 95%;
  min-height: 700px;
  border-radius: 20px;
  margin: 300px auto 0;
  padding: 40px;
  margin-bottom: -300px;
  box-sizing: border-box;
  display: flex;
   border: 1px solid rgba(255,255,255,.2);
}

.wanted-title {
  color: white;
  text-align: center;
  text-shadow: 2px 3px 4px #0a3b7b;
  -webkit-text-stroke: 1px #1350a1;
  margin-bottom: 40px;
  max-width: 1400px;
}

.wanted-title h2{
  font-size: 40px;
  margin-bottom: 20px;
}


.wanted-img {
  background: white;
  width: 400px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url("../IMAGES/20240408_195059-1.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
}

.wanted-container {
  width: 100%;
  display: flex;
  justify-items: right;
  justify-content: right;
  align-items: right;
  
}


.wanted-text {
  color: white;
  text-align: center;
  text-shadow: 2px 3px 4px #0a3b7b;
  -webkit-text-stroke: 1px #1350a1;
  margin-bottom: 40px;
  max-width: 1400px;
}

.wanted-text h2{
  font-size: 35px;
  margin-bottom: 20px;
}


.wanted-text p {
   font-size: 25px;
  line-height: 1.6;
}

.wanted-text ul{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    justify-content:center;
    list-style:none;
    padding:0;
    margin-top:30px;
}

.wanted-text li{
    padding:12px 25px;
    background-color: white;
    color: #1766CE;
    border-radius:100px;
    font-size:25px;
    transition:0.2s;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #1766CE;
    -webkit-text-stroke: 0px #1766CE;
     text-shadow: none;
}

.wanted-text li:hover{
    transform:scale(1.05);
     background:linear-gradient(
  45deg, #1766ce37, #09326736
  );
  color: #ffffff;
  border: 2px solid #ffffff;
}

footer {
    background: linear-gradient(
    45deg,
    #197dff81,
    #083878dd
  );
  border-radius: 0px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  min-height: 70px;
  position: relative;
  top: 100px;
  border: 1px solid rgba(255,255,255,.2);
}

.footer {
  font-size: 20px;
  display: flex;
}